<div class="container">
  <div class="my-4 text-center">
    <h1 class="big-title">All our cocktails</h1>
  </div>

  <div class="container d-flex align-items-center flex-column">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-12 col-lg-6">
          <div class="card-product m-4">
            <img src="<%= cocktail.image_url %>" />
            <div class="card-product-infos w-100">
              <div class="card-product-title text-center">
                <%= link_to cocktail.name.upcase, cocktail_path(cocktail), class: 'card-product-title' %>
              </div>
              <div class="card-product-info d-flex justify-content-between">
                <div class="d-flex justify-content-center flex-column">
                  <p>Average ratings:</p>
                  <p><% cocktail.reviews.average(:rating).to_i.times do %><i class="fa fa-star text-dark" aria-hidden="true"></i> <% end %></p>
                </div>
                <div class="card-product-info d-flex justify-content-between">
                  <div class="d-flex justify-content-center flex-column">
                    <p class="mb-2">Ingredients</p>
                    <ul class="index-ingredients">
                      <% cocktail.doses.each do |dose| %>
                        <li class="index-ingredient">
                          <div>
                            <%= dose.ingredient.name %> <%= dose.description %>
                          </div>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

